<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neil Sood</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon_white.png') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/"><img src="{{ url_for('static', filename='img/bitmoji_logo_new_good.png') }}" alt="neil-sood-bitmoji"></a>
            <a class="header-text" href="/"><h2>Hi, I'm Neil</h2></a>
        </div>
        <div class="content">
            <div class="intro">

            </div>
            <div class="projects">

            </div>
            <div class="about">

            </div>
            <div class="contact">
                <h3>Get in touch!</h3>
                <p>Happy to talk to any fellow developers!</p>
                <form action="/contact_form" method="POST">
                    <input type="text" name="name" id="name" placeholder="Name" required>
                    <input type="text" name="email" id="email" placeholder="Email" required>
                    <textarea name="message" id="message" id="message" placeholder="Message" cols="30" rows="10" required></textarea>

                </form>
            </div>
        </div>
        <div class="footer">
            <h5>&copy; {{ year }} Neil Sood</h5>
            <ul id="links">
                <li><a href="mailto:soodorama@gmail.com?Subject=Hey%20Neil%21" target="_top"><img src="{{ url_for('static', filename='img/logo_email_red.png') }}" alt="logo-email"></a></li>
                <li><a href="https://github.com/soodorama" target="_blank"><img src="{{ url_for('static', filename='img/logo_github_green_white.png') }}" alt="logo-github"></a></li>
                <li><a href="https://www.linkedin.com/in/nsood/" target="_blank"><img src="{{ url_for('static', filename='img/logo_linkedin_white.png') }}" alt="logo-linkedin"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>